<template>
  <div class="panelSencha">
  <v-container style="padding: 1rem;">
    <v-row>
        <v-col cols="12" md="5" class="my-column d-flex">
            <label for="" class="mr-4">Nro. de Afiliado:</label>
              <v-text-field
                      outlined
                      dense
                      class="input-text-sencha"
                      v-model="nroafi"
                      @keyup.enter="solicitarEM"
                      onkeypress="return soloNumeros(event)"
              ></v-text-field>
        </v-col>
        <v-col cols="12" md="6" class="my-column mx-2">
          <v-btn color="primary" @click="solicitarEM">
            <i class="fas fa-search mr-3" style="font-size: 1rem;"></i>
            <span>Buscar</span>  
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <ExpansionPanel @hayDetalle="detalle = $event"
            @limpiaDetalle="limpiaDetalle = !limpiaDetalle"
          titulo="Emergencias Médicas" 
          :emergenciasmedicas="emergenciasmedicas"
          content="gridEmergenciasMedicas" class="mb-2"/>
    <ExpansionPanel :limpiaDetalle="limpiaDetalle" 
                    :detalle="detalle" titulo="Detalle De Afiliación" 
                    content="formDetalleEM" />
  </div>
</template>


<script>
import ExpansionPanel from '@/components/panels/ExpansionPanel.vue'

export default {
  name: 'EmergenciasMedicas',
  components: {
    ExpansionPanel
  },
  data(){
    return{
      detalle : [],
      nroafi: null,
      limpiaDetalle: false,
      emergenciasmedicas:[]
    }
  },
  methods:{
    solicitarEM(){
      var url = serveApi() + '/EmergenciasMedicas/PorAfiliado';
      var data = {nroafi: parseInt(this.nroafi)};
      var vue = this;
      
      $.ajax({
        url: url,
        type: 'POST',
        dataType: 'JSON',
        data: data,
        success: function(response) {
          vue.emergenciasmedicas = response;
        }
      });
    }
  }
};
</script>