<template>
  <v-app>
    <v-main>
      <v-spacer></v-spacer>
      <router-view class="app" fluid/>
    </v-main>
  </v-app>
</template>

<style lang="sass">
  @import '@/scss/variables.scss'
</style>

<script>
export default {
  name: 'App',
  beforeCreate(){
    var usuario = window.location.search.substr(1).split("=");
    var vue = this;
    var url = 'https://repdf-dev.cajapsipba.org.ar/api/api_usuario.php/usuario/'+usuario[1];
    
    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'JSON',
      success:function(response){ 
        vue.$store.usuario = response.body;
      }
    });
  }
};
</script>
